body {
    padding: 10%;
    background-color: #fffef2;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Open Sans', sans-serif;
}

section {
    padding: 60px 0;
}

@media only screen and (min-width: 992px) {
    div {
      width: 50%;
    }
  }

  @media only screen and (max-width: 768px) {
    div {
      width: 100%;
    }
  }

@media only screen and (max-width: 600px) {
    div {
      width: 100%;
    }
  }